.LandingPage {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: rgb(0, 0, 0); /* Text color */
  font-size: 60px; /* Font size */
  font-weight: bold; /* Use 'font-weight' instead of 'font:bolder;' */
  font-style: italic; /* Use 'italic' instead of 'oblique' */
  text-shadow: 2px 2px 4px #3879ae; /* Adjust the text shadow for better visibility */
}

